<section class="section section-lg bg-gradient-default">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 order-lg-1">
            <div class="pl-4">
                <h4 class="display-3 text-white">Latest Blogs</h4>
            </div>

          {% for post in site.posts limit: 3 %}
            <div class="card card-dark shadow shadow-lg--hover mt-4">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div class="">
                    <h5 class="title text-success">{{post.title | truncate: 40}}</h5>
                      {% if post.description %}
                      <p>{{post.description | strip_html | strip_newlines | truncate: 80}}</p>
                      {% else %}
                      <p>{{post.content | strip_html | strip_newlines | truncate: 80}}</p>
                      {% endif %}
                    <a href="#" class="text-success">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="text-center">
            <a href="{{site.baseurl}}/blog/" class="btn btn-outline-success mt-4">Read More</a>
          </div>
        </div>


        <div class="col-lg-6 order-lg-1">
        <div class="pl-4">
        <h4 class="display-3 text-white">Webinars</h4>
        </div>

        {% for post in site.webinars limit: 3 %}
          <div class="card card-dark shadow shadow-lg--hover mt-4">
            <div class="card-body">
              <div class="d-flex px-3">
                <div class="">
                  <h5 class="title text-success">{{post.title | truncate: 50}}</h5>

                  {% if post.description %}
                  <p>{{post.description | strip_html | strip_newlines | truncate: 80}}</p>
                  {% else %}
                  <p>{{post.content | strip_html | strip_newlines | truncate: 80}}</p>
                  {% endif %}

                  <a href="#" class="text-success">Read more</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="text-center">
          <a href="{{site.baseurl}}/webinars/" class="btn btn-outline-success mt-4">Read More</a>
        </div>
        </div>

    </div>

  </div>

  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
