<section class="section section-lg">
	<div class="container">
		<div class="row row-grid justify-content-center">
			<div class="col-lg-8 text-center mb-lg">
				<h2 class="display-3">Our Customers &amp; Partners</h2>
				<p class="lead">We have worked with some of the well knows companies.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-lift--hover shadow border-0 mb-md p-2" >
					<img src="/img/hp-enterprise-s.png" alt="HP" title="HP" data-toggle="tooltip" data-placement="bottom" data-original-title="HP">
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-lift--hover shadow border-0 mb-md p-2">
						<img src="/img/edb-s.png" alt="EDB" title="EDB" data-toggle="tooltip" data-placement="bottom" data-original-title="EDB">
						</div>
					</div>
					<div class="col-md-3">
						<div class="card card-lift--hover shadow border-0 mb-md p-2">
							<img src="/img/Rakuten-s.png" alt="Rakuten" title="Rakuten" data-toggle="tooltip" data-placement="bottom" data-original-title="Rakuten">
							</div>
						</div>
						<div class="col-md-3">
							<div class="card card-lift--hover shadow border-0 mb-md p-2">
								<img src="/img/Cisco_logo.png" alt="Cisco" title="Cisco" data-toggle="tooltip" data-placement="bottom" data-original-title="Cisco">
								</div>
							</div>
							<div class="col-md-3 clearfix">
								<div class="card card-lift--hover shadow border-0 mb-md p-2">
									<img src="/img/logoGrey.png" alt="VMware" title="VMware" data-toggle="tooltip" data-placement="bottom" data-original-title="VMware">
									</div>
								</div>
								<div class="col-md-3">
									<div class="card card-lift--hover shadow border-0 mb-md p-2">
										<img src="/img/Mercedes_benz-2.png" alt="Mecedes Benz" title="Mecedes Benz" data-toggle="tooltip" data-placement="bottom" data-original-title="Mecedes Benz">
										</div>
									</div>
									<div class="col-md-3">
										<div class="card card-lift--hover shadow border-0 mb-md p-2">
											<img src="/img/reliance-jio.png" alt="Reliance Jio" title="Reliance Jio" data-toggle="tooltip" data-placement="bottom" data-original-title="Reliance Jio">
											</div>
										</div>
										<div class="col-md-3">
											<div class="card card-lift--hover shadow border-0 mb-md p-2">
												<img src="/img/logo-intuit-preferred.png" alt="Intuit" title="Intuit" data-toggle="tooltip" data-placement="bottom" data-original-title="Intuit">
												</div>
											</div>
										</div>
										<section class="section section-lg">
											<div class="container">
												<div class="card bg-gradient-info shadow-lg border-0">
													<div class="p-5">
														<div class="row align-items-center">
															<div class="col-lg-8">
																<h3 class="text-white">Learn From The Experts.</h3>
																<p class="lead text-white mt-3">We are committed to deliver world class trainings from our online (self paced and instructor led) and classroom trainings. Checkout our trainings on Docker, Kubernetes, DC/OS, Go etc.</p>
															</div>
															<div class="col-lg-3 ml-lg-auto">
																<a href="#courses" class="btn btn-lg btn-block btn-white">Get Started Now</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</section>
