<footer class="footer pt-md">
  <div class="container pb-sm">
    <div class="row">
      <div class="col-md-6">
        <div class="logo-box">
          <img class="pb-3" width="180" src="{{site.logo}}" alt="{{site.title}}">
          <p>{{site.footer-description}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <h5>Quick Links</h5>
        <ul>

          <li><a href="/">Home</a></li>

          <li><a href="/about/">About</a></li>

          <li><a href="/contact/">Contact</a></li>

          <li><a href="/blog/">Blog</a></li>

        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email:<a href="mailto:{{site.email}}"> {{site.email}}</a></p>
        <p>Phone:<a href="tel:{{site.phone}}"> {{site.phone}}0</a></p>

        <ul class="social">
            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.facebook}}" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                <i class="fa fa-facebook-square"></i>
                <span class="nav-link-inner--text d-lg-none">Facebook</span>
              </a>
            </li>

            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.twitter}}" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                <i class="fa fa-twitter-square"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>

            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.github}}" target="_blank" data-toggle="tooltip" title="Star us on Github">
                <i class="fa fa-github"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
              </a>
            </li>

            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.feed}}" target="_blank" data-toggle="tooltip" title="Subscribe to RSS">
                <i class="fa fa-rss"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
              </a>
            </li>
          </ul>

      </div>
    </div>



  </div>

  <div class="container-fluid dark">
    <div class="container pt-2 pb-2">
      <div class="row">
        <div class="col-md-12">
          <p class="copyright float-left">© {{'now' | date: '%Y'}}. All rights reserved</p>
          <p class="copyright float-right"> Developed by <a target="_blank" href="http://webjeda.com"><strong>webjeda</strong></a></p>
        </div>
      </div>
    </div>
  </div>

</footer>
