<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-fixed navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/">
        <img src="{{site.logo}}" title="{{site.title}}" alt="{{site.title}}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img width="200" src="/img/cloudyuga-logo-new-expand.svg" title="{{site.title}}" alt="{{site.title}}">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-hat-3 d-lg-none"></i>
              <span class="nav-link-inner--text">Trainings</span>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-item"><a href="/corporate-training/">Corporate</a></li>
              <!-- <li class="dropdown-item"><a href="#">Classroom</a></li> -->
              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="#">Classroom <i class="fa fa-caret-right"></i></a>
                <ul class="dropdown-menu">

                  {% assign sp = site.trainings | where: "categories", "classroom" | reverse %}
                  {% for post in sp %}
                  <li class="dropdown-item">
                    <a href="{{site.baseurl}}{{post.url}}">{{post.title}}{% for item in post.session %}<br><span class="badge badge-success">{{item}}</span>{% endfor %}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>


              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="#">Online Instructor Led <i class="fa fa-caret-right"></i></a>
                <ul class="dropdown-menu">
                  {% assign sp = site.trainings | where: "categories", "instructor-led" | reverse %}
                  {% for post in sp %}
                  <li class="dropdown-item">
                    <a href="{{site.baseurl}}{{post.url}}">{{post.title}}{% for item in post.session %}<br><span class="badge badge-success">{{item}}</span>{% endfor %}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>


              <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="#">Online Self Paced <i class="fa fa-caret-right"></i></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="/trainings/container_fundamentals/">Container Fundamentals
                      {% for item in site.data.schedule.online-self.container-fundamentals %}
                      <br><span class="badge badge-success">{{item.date}}</span>
                      {% endfor %}</a></li>

                  <li class="dropdown-item"><a href="/trainings/container_for_dev_qa/">Container for Dev & QA
                      {% for item in site.data.schedule.online-self.container-for-dev %}
                      <br><span class="badge badge-success">{{item.date}}</span>
                      {% endfor %}</a></li>
                </ul>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="/consulting/" class="nav-link" role="button">
              <i class="ni ni-bulb-61 d-lg-none"></i>
              <span class="nav-link-inner--text">Consulting</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/blog/" class="nav-link" href="/blog/" role="button">
              <i class="ni ni-book-bookmark d-lg-none"></i>
              <span class="nav-link-inner--text">Blog</span>
            </a>
          </li>


          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-bold-down d-lg-none"></i>
              <span class="nav-link-inner--text">More</span>
            </a>
            <div class="dropdown-menu">
              <a href="/about/" class="dropdown-item">About</a>
              <a href="/careers/" class="dropdown-item">Careers</a>
              <a href="/contact/" class="dropdown-item">Contact</a>
            </div>
          </li>

        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">

          <li class="nav-item">
            <a href="#" class="nav-link" role="button" data-toggle="modal" data-target="#modal-login">
              <i class="ni ni-key-25 d-lg-none"></i>
              <span class="nav-link-inner--text">Login / Sign Up</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
