<section class="section section-lg meetups">
  <div class="container">
    <div class="row justify-content-center text-center mb-lg">
      <div class="col-lg-8">
        <h2 class="display-3">We have spoken at many global & regional conferences</h2>
        <!-- <p class="lead text-muted">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record maximum.</p> -->
      </div>
    </div>


    <div class="row">

    <div class="col-md-12 text-center">
        {% include globe.html %}
    </div>

    </div>


  </div>
</section>
