<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
 <div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
   <div class="modal-content">
     <div class="modal-body p-0">

       <div class="nav-wrapper p-4">
           <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
               <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-key-25 mr-2"></i>Login</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-circle-08 mr-2"></i>Sign Up</a>
               </li>
           </ul>
       </div>

       <div class="card shadow">
           <div class="card-body">
               <div class="tab-content" id="myTabContent">
                   <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">


                     <div class="card bg-secondary shadow border-0">
                       <div class="card-header bg-white pb-5">
                         <div class="text-muted text-center mb-3">
                           <small>Sign in with</small>
                         </div>
                         <div class="btn-wrapper text-center">
                           <a href="#" class="btn btn-neutral btn-icon">
                             <span class="btn-inner--icon">
                               <img src="{{site.baseurl}}/assets/img/icons/common/github.svg">
                             </span>
                             <span class="btn-inner--text">Github</span>
                           </a>
                           <a href="#" class="btn btn-neutral btn-icon">
                             <span class="btn-inner--icon">
                               <img src="{{site.baseurl}}/assets/img/icons/common/google.svg">
                             </span>
                             <span class="btn-inner--text">Google</span>
                           </a>
                         </div>
                       </div>
                       <div class="card-body px-lg-5 py-lg-5">
                         <div class="text-center text-muted mb-4">
                           <small>Or sign in with credentials</small>
                         </div>
                         <form role="form">
                           <div class="form-group mb-3">
                             <div class="input-group input-group-alternative">
                               <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                               </div>
                               <input class="form-control" placeholder="Email" type="email">
                             </div>
                           </div>
                           <div class="form-group">
                             <div class="input-group input-group-alternative">
                               <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                               </div>
                               <input class="form-control" placeholder="Password" type="password">
                             </div>
                           </div>
                           <div class="custom-control custom-control-alternative custom-checkbox">
                             <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                             <label class="custom-control-label" for=" customCheckLogin">
                               <span>Remember me</span>
                             </label>
                           </div>
                           <div class="text-center">
                             <button type="button" class="btn btn-primary my-4">Sign in</button>
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>
                         </form>
                       </div>
                     </div>



                   </div>
                   <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">

                     <div class="card bg-secondary shadow border-0">
                       <div class="card-header bg-white pb-5">
                         <div class="text-muted text-center mb-3">
                           <small>Sign up with</small>
                         </div>
                         <div class="text-center">
                           <a href="#" class="btn btn-neutral btn-icon mr-4">
                             <span class="btn-inner--icon">
                               <img src="{{site.baseurl}}/assets/img/icons/common/github.svg">
                             </span>
                             <span class="btn-inner--text">Github</span>
                           </a>
                           <a href="#" class="btn btn-neutral btn-icon">
                             <span class="btn-inner--icon">
                               <img src="{{site.baseurl}}/assets/img/icons/common/google.svg">
                             </span>
                             <span class="btn-inner--text">Google</span>
                           </a>
                         </div>
                       </div>
                       <div class="card-body px-lg-5 py-lg-5">
                         <div class="text-center text-muted mb-4">
                           <small>Or sign up with credentials</small>
                         </div>
                         <form role="form">
                           <div class="form-group">
                             <div class="input-group input-group-alternative mb-3">
                               <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                               </div>
                               <input class="form-control" placeholder="Name" type="text">
                             </div>
                           </div>
                           <div class="form-group">
                             <div class="input-group input-group-alternative mb-3">
                               <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                               </div>
                               <input class="form-control" placeholder="Email" type="email">
                             </div>
                           </div>
                           <div class="form-group">
                             <div class="input-group input-group-alternative">
                               <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                               </div>
                               <input class="form-control" placeholder="Password" type="password">
                             </div>
                           </div>
                           <div class="text-muted font-italic">
                             <small>password strength:
                               <span class="text-success font-weight-700">strong</span>
                             </small>
                           </div>
                           <div class="row my-4">
                             <div class="col-12">
                               <div class="custom-control custom-control-alternative custom-checkbox">
                                 <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                 <label class="custom-control-label" for="customCheckRegister">
                                   <span>I agree with the
                                     <a href="#">Privacy Policy</a>
                                   </span>
                                 </label>
                               </div>
                             </div>
                           </div>
                           <div class="text-center">
                             <button type="button" class="btn btn-primary mt-4 mb-sm">Create account</button>
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>
                         </form>
                       </div>
                     </div>


                   </div>

               </div>
           </div>
       </div>
     </div>
   </div>
 </div>
</div>
