---
layout: default
---
<div class="pages">
<section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-default alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="page-title position-absolute">
        <h1 class="text-center text-white display-3">{{page.title}}</h1>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>

<section class="section bg-egg">
  <div class="container p-0">

          <div class="row">
            <div class="col-lg-8 offset-md-2">
              {{content}}
              <a href="{{page.link}}" target="_blank" class="btn btn-success" >Apply</a>
            </div>
          </div>
  </div>
</section>
</div>
